/*----- CSS Reset ------------------------------------------------------------*/
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/*----- General --------------------------------------------------------------*/
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
  background-color: #EEE;
}

#body-container {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/*----- CSS Table ------------------------------------------------------------*/
#body-container > div {
  display: table-row;
}

.output-row {
  height: 300px;
}

.button-row {
  height: 80px;
}

#graph-cell {
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% - 550px);
}

.code-cell, .button-cell, .output-cell {
  height: 100%;
  width: 550px;
  float: right;
  z-index: 10;
}

/*----- Terminal Components --------------------------------------------------*/

.run {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  background-color: green;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#output {
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 10px;
  color: white;
  font-family: monospace;
}

/*----- D3 -------------------------------------------------------------------*/

#graph {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.force-toggle {
  position: absolute;
  width: 100px;
  height: 40px;
  top: 15px;
  right: 15px;
  font-size: 16px;
}

svg {
  background-color: #EEE;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: visible;
}
 
svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}
  
path.link {
  fill: none;
  stroke: #000;
  stroke-width: 4px;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

circle.node {
  stroke-width: 1.5px;
  cursor: pointer;
}
 
circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

rect.weight-rect {
  fill: #EEE;
  cursor: pointer;
}

text {
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

text.weight {
  fill: #666;
  font-size: 22px;
  font-family: 'Droid Sans Mono';
  text-anchor: middle;
}
